:root {
  --red:    tomato;
  --blue:   dodgerblue;
  --green:  palegreen;
  --yellow: khaki;
  --grey:   #D0D0D0;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("/assets/fonts/AlteHaasGroteskRegular.otf") format("opentype");
}

html, body {
  height: 100%;
}

body {
  font-family: "AlteHaasGrotesk", Helvetica, sans-serif;
  background: #181818;
  font-weight: normal;
  margin: 15px;
  padding: 0;
}

main {
  height: auto;
}

h1, h2, h4, a, a:visited {
  color: #D0D0D0;
}

h1, h2, h4 {
  font-weight: normal;
}

h1 {
  margin: 0 0 25px;
  font-size: 3em;
}

#intro {
  height: 100vh;
  width: calc(100vw - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro a {
  text-decoration: none;
}

h4 {
  margin: 0 0 .3em;
  font-size: 1.5em;
}

h4:last-of-type {
  margin-top: 3px;
}

#product:hover h4{
  color: var(--red);
}

#graphic:hover h4{
  color: var(--blue);
}

h4#amp, #front-end h4 {
  display: inline;
}

#front-end:hover h4{
  color: var(--green);
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 4px 4px 4px 0;
}

.digi {
  background: var(--red);
}

.grfx {
  background: var(--blue);
}

.dev {
  background: var(--green);
}

#links a:hover {
  color: var(--yellow);
}

#links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 40px;
}

@media (min-width: 500px) and (min-height: 500px) {
  #intro h1 {
    font-size: 4em;
  }
  #intro h4 {
    font-size: 2em;
  }
  #intro .dot {
    height: 15px;
    width: 15px;
    margin: 5px 5px 5px 0;
  }
}

@media (min-width: 800px) and (min-height: 500px) {
  #intro h1 {
    font-size: 6em;
  }
  #intro h4 {
    font-size: 3em;
  }
  #links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #intro .dot {
    height: 20px;
    width: 20px;
    margin: 8px 8px 8px 0;
  }
}

#projects{
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 60px;
}

article {
  margin-bottom: 40px;
}

.upper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--grey);
  align-items: end;
}

.title {
  grid-column: 1 / span 4;
  padding-right: 10px;
}

.date {
  color: #D0D0D0;
  filter: brightness(50%);
  justify-self: end;
}

.disciplines {
  margin-bottom: 8px;
  justify-self: end;
}

.disciplines .dot {
  margin-left: 2px;
}
