#intro {
  max-width: 360px;
}

#intro br {
  display: none;
}

#education {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 20px;
  max-width: 450px;
}

#clients, #edu-title {
  padding-top: 30px;
}

#edu-title {
  margin-bottom: 5px;
}

#education span {
  display: none;
}

#education #inner-title {
  display: none;
}

@media (min-width: 500px) {
  #intro {
    max-width: 450px;
  }

  #education {
    max-width: 675px;
    grid-gap: 52px;
  }

  #education span, !#education span br {
    display: inline;
  }
}

@media (min-width: 800px) {
  #intro {
    max-width: 680px;
  }
}

@media (min-width: 1200px) {
  #intro {
    max-width: 583px;
  }

  #intro br {
    display: block;
  }

  #education {
    width: auto;
    grid-gap: 30px;
  }

  #education span.indent {
    display: block;
  }

  #edu-title {
    display: none;
  }

  #education #inner-title {
    display: block;
  }

  #clients, #education {
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1500px) {
  #intro {
    max-width: 693px;
  }
  #education {
    grid-gap: 60px;
  }
}

header a:hover {
  text-decoration: underline;
}
