#education {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 52px;
  width: 450px;
  padding-top: 30px;
}

#clients {
  padding-top: 30px;
}

@media (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  #clients {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  #education {
    width: auto;
    grid-gap: 30px;
  }

  #clients, #education {
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1500px) {
  #education {
    grid-gap: 60px;
  }
}

header a:hover {
  text-decoration: underline;
}
